.card {
  border-radius: 16px 16px 16px 0px;
  background-color: $white;
  border: solid 6px $white;
  margin-top: 12px;
}

.card-img-top {
  border-radius: 16px 16px 0px 0px;
}

.icon-card {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.3s;
  position: relative;


  &:hover {
    border: solid 3px $yellow;
  }

  &:active {
    border: solid 9px $yellow;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
.result-icon-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

.plan-card {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 16px 16px 16px 0px;
  padding: 32px 8px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);

  h5 {
    font-weight: bold;
  }
}

.icon-card-2 {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.3s;
  position: relative;


  // &:hover {
  //   border: solid 3px $yellow;
  // }

  // &:checked {
  //   border: solid 9px $yellow;
  // }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}
.category-selector + label {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 16px 16px 16px 0px;
  // border: solid 2px $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.2s;
  position: relative;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}

.category-selector:checked + label {
  border: 6px solid $black;
}

.card-plan-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-plan-list-infos {
    padding: 16px;
  }
}

.card-friend {
  overflow: hidden;
  height: 64px;
  background: $white;
  display: flex;
  align-items: center;
  margin: 8px;
  border-radius: 18px 18px 18px 0px;
  border: solid 4px $white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);

  img {
    height: 100%;
    width: 64px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  h3 {
    font-size: 16px;
    padding-left: 4px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-friend-infos {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.friends-plan-index {
  display: flex;
  gap: 4px;
}

.card-body {

  h5 {
    font-weight: bold;
  }
}

.plan-card-submitted {
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 16px 8px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}



.poll-emoji {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 1;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 16px 16px 16px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}
