.icon-card {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.3s;
  position: relative;


  &:hover {
    border: solid 3px $yellow;
  }

  &:active {
    border: solid 9px $yellow;
  }

  input[type="radio"] {
    /* Hide the default radio button */
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.plan-card {
  cursor: pointer;
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 16px 8px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;

  h5 {
    font-weight: bold;
  }
}

.icon-card-2 {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.3s;
  position: relative;


  // &:hover {
  //   border: solid 3px $yellow;
  // }

  // &:checked {
  //   border: solid 9px $yellow;
  // }

  input[type="radio"] {
    /* Hide the default radio button */
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}
.category-selector + label {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease 0.3s;
  position: relative;
}

.category-selector:checked + label {
  border: 6px solid $yellow;
}

.card-plan-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-plan-list-infos {
    padding: 16px;
  }
}

.card-friend {
  overflow: hidden;
  height: 60px;
  background: white;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;

  img {
    height: 100%;
    width: 60px;
    object-fit: cover;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 4px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  // p {
  //   font-size: 12px;
  //   line-height: 1.4;
  //   opacity: .7;
  //   margin-bottom: 0;
  //   margin-top: 8px;
  // }

  .card-friend-infos {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -17px;
    border-bottom: solid 1px $gray;
  }
}

.friends-plan-index {
  display: flex;
  gap: 4px;
}

.card-body {
  h5 {
    font-weight: bold;
  }
}
