.icon-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $white;
  border-radius: 8px;
  border: solid 2px $gray;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: ease 0.3s;

  &:hover {
    border: solid 3px $yellow;
  }

  &:active {
    border: solid 9px $yellow;
  }
}
