$yellow: #FFD74D;
$darkyellow: #f2ce4e;
$blue: #623CEA;
$darkblue: #5032BF;
$red: #F03A47;
$darkred: #BD2D37;
$white: #FAFAFA;
$black: #161616;
$gray: #DEDEDE;
$lightgray: #f7f7f7;

.yellow-text {
  color: $yellow;
}
