.homepage-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.homepage-h3 {
  padding: 24px;
}

.homepage-title {
  h1 {
    font-size: 64px;
    color: $white;
  }
  h2 {
    font-size: 34px;
    color: $white;
  }
}

.plans-list-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.show-center-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.show-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.plans-index-container {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    min-height: 100vh;

    h1 {
    text-align: left;
  }
}

.show-h3 {
  padding: 24px;
}

.show-title {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
}

.container {
  min-height: 100vh;
}

.plans-avatar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  justify-items: center;
  align-items: center;
  margin-top: 16px;


