.homepage-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.homepage-h3 {
  padding: 24px;
}

.homepage-title {
  h1 {
    font-size: 64px;
    color: $white;
  }
  h2 {
    font-size: 34px;
    color: $white;
  }
}

.plans-list-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: left;
  }
}

.plans-index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    min-height: 100vh;
}
