.grid-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  width: auto;
  max-width: 800px;
  margin: 32px;
}

.form-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  width: auto;
  max-width: 800px;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-6 {
  grid-column: span 6;
}
