<div id="drinking_submitted" class="grid-container m-0" style="display: flex; flex-direction: column;">
  <% { "Craft Beer" => "ðŸº", "Lemon Sour" => "ðŸ‹", "Whiskey" => "ðŸ¥ƒ", "Cocktail" => "ðŸ¹", "Wine" => "ðŸ·", "Anything" => "ðŸ¥‚" }.each do |alcohol, emoji| %>

    <% if plan.polls.where(submitted: true, alcohol: alcohol).exists? %>
      <div>
        <div class="grid-container m-0">
          <div>
            <div class="grid-1">
              <p style="font-size: 32px;" class="poll-emoji"><%= emoji %></p>
            </div>
            <div class="grid-1">
              <p style="font-size: 10px; display: flex; justify-content: center; margin-top: 4px;"><%= alcohol.capitalize%><p>
            </div>
          </div>
          <div>
            <% plan.polls.where(submitted: true, alcohol: alcohol).each do |poll| %>
              <div class="grid-1">
                <%= render "polls/subpoll", poll: poll %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
