<div id="drinking_submitted" class="grid-container m-0">
  <% { "Craft Beer" => "ðŸº", "Lemon Sour" => "ðŸ‹", "Whiskey" => "ðŸ¥ƒ", "Cocktail" => "ðŸ¹", "Wine" => "ðŸ·", "Anything" => "ðŸ¥‚" }.each do |alcohol, emoji| %>

    <% if plan.polls.where(submitted: true, alcohol: alcohol).exists? %>
      <div>
        <div>
          <p style="font-size: 32px;" class="poll-emoji grid-1"><%= emoji %></p>
        </div>
        <div>
          <p style="font-size: 10px; display: flex; justify-content: center; margin-top: 4px;"><%= alcohol.capitalize%><p>
        </div>
      </div>
      <div>
        <% plan.polls.where(submitted: true, alcohol: alcohol).each do |poll| %>
          <%= render "polls/subpoll", poll: poll %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
