<div id="drinking_submitted" style="margin: 16px;">
  <% { "Craft Beer" => "ðŸº", "Lemon Sour" => "ðŸ‹", "Whiskey" => "ðŸ¥ƒ", "Cocktail" => "ðŸ¹", "Wine" => "ðŸ·", "Anything" => "ðŸ¥‚" }.each do |alcohol, emoji| %>
    <% if plan.polls.where(submitted: true, alcohol: alcohol).exists? %>
      <div class="plan-card-submitted">
        <h1><%= emoji %></h1>
        <h3><%= alcohol.capitalize%></h3>
                <div class="polls-avatar-container" style="margin: 16px;">
          <% plan.polls.where(submitted: true, alcohol: alcohol).each do |poll| %>
            <%= render "polls/subpoll", poll: poll %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
