<div id="mood_submitted" style="margin: 16px;">
  <% { "Casual" => "😊", "Classy" => "✨", "Dancing" => "🪩", "Music" => "🎶", "Unique" => "🎭", "Anything" => "🙌" }.each do |mood, emoji| %>
    <% if plan.polls.where(submitted: true, mood: mood).exists? %>
      <div class="plan-card-submitted">
        <h1><%= emoji %></h1>
        <h3><%= mood.capitalize %></h3>
        <div class="polls-avatar-container" style="margin: 16px;">
          <% plan.polls.where(submitted: true, mood: mood).each do |poll| %>
            <%= render "polls/subpoll", poll: poll %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
