<div id="not_submitted" style="margin-bottom: 32px;">
     <% plan.polls.where(submitted: false).each do |poll| %>
    <%= render "polls/poll", poll: poll, class: "avatar-sqr-1", style: "" %>
  <% end %>
</div>
