<div id="plan_<%= plan.id %>_submitted">
  <%= render "plans/submitted", plan: plan %>
  <div class="grid-6" style="margin-top: 16px;">
    <h2>WHAT’S THE VIBE?</h2>
  </div>
  <div class="grid-6" id="mood_submitted">
    <%= render "plans/mood_submitted", plan: plan %>
  </div>
  <div class="grid-6" style="margin-top: 16px;">
    <h2>WHAT’RE WE DRINKING?</h2>
  </div>
  <div class="grid-6" id="drinking_submitted">
    <%= render "plans/drinking_submitted", plan: plan %>
  </div>
</div>
