<div id="submitted" class="grid-container m-0" style="display; flex: flex-directon: row;">
  <% plan.polls.where(submitted: true).each do |poll| %>
    <div class="grid-1">
      <%= render "polls/poll", poll: poll, style: "border: none;" %>
    </div>
  <% end %>
  <% plan.polls.where(submitted: false).each do |poll| %>
    <div class="grid-1">
      <%= render "polls/poll", poll: poll, style: "opacity: 33%; box-shadow: none;" %>
    </div>
  <% end %>
</div>
