<div id="submitted" class="grid-container m-0">

<div>
  <% plan.polls.where(submitted: true).each do |poll| %>
    <%= render "polls/poll", poll: poll, style: "border: solid 3px #FFD74D" %>
  <% end %>
</div>

<div>
  <% plan.polls.where(submitted: false).each do |poll| %>
    <%= render "polls/poll", poll: poll, style: "opacity: 50%; box-shadow: none;" %>
  <% end %>
</div>

</div>
