<div class="grid-container">
  <div>
    <h1 class="big-text"> YOUR<br>
      PLANS!</H1>
  </div>
  <%= render "brewing_plans" %>
  <!-- Upcoming Plans (Completed) -->
  <%= render "upcoming_plans" %>
</div>
<div class="grid-6">
  <%= link_to 'Home', root_path, class: 'plans-btn' %>
</div>
</div>
</div>
