
  <div class="plans-index-container">
    <div class="plans-list-element">
    <h1>Brewing Plans</h1>

      <div class="card-plan-list">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-plan-list-infos">
          <h2>plan-list name</h2>
          <p>plan-list description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="plans-list-element">
      <h1>Upcoming Plans</h1>
      <div class="card-plan-list">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-plan-list-infos">
          <h2>plan-list name</h2>
          <p>plan-list description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <%= link_to 'HOME', root_path, class: 'plans-btn' %>

  </div>
