<div class="container">
  <h1>Invite <span class="plans-yellow">friends</span></h1>

  <div class="plan-index-container">

    <% @users.where.not(id: current_user).each do |user| %>
      <div class="card-friend">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, class:"avatar" %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-friend-infos">
          <h3><%= user.username %></h2>
          <%= link_to "Invite", invite_plan_path(@plan, user_id: user.id), class: "invite-button", data: { turbo_method: :post }, id: "invite-#{user.id}" %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="footer">
  <%= link_to "Complete your plans", user_plans_path(current_user), class:"homepage-button"  %>
</div>
