<body>
  <div class="grid-container">

    <div class="grid-6">
      <h1>MAKE YOUR PLANS TONIGHT!</h1>
    </div>

    <!-- SELECT DATE & TIME -->
    <!-- SELECT DATE & TIME END -->

    <!-- QUESTION 1 -->
    <div class="grid-6" style="margin-top: 24px;">
      <h2>WHAT'S YOUR VIBE TONIGHT?</h2>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">😊</p>
      <p>CASUAL</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">✨</p>
      <p>CLASSY</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🪩</p>
      <p>DANCING</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🎶</p>
      <p>MUSIC</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🎭</p>
      <p>UNIQUE</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🙌</p>
      <p>ANYTHING</p>
    </div>
    <!-- Q1 END -->

    <!-- QUESTION 2 -->
    <div class="grid-6" style="margin-top: 24px;">
      <h2>WHAT DO YOU WANT TO DRINK TONIGHT?</h2>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🍺</p>
      <p>CRAFT BEER</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🍋</p>
      <p>LEMON SOUR</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🥃</p>
      <p>WHISKEY</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🍹</p>
      <p>COCKTAIL</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🍷</p>
      <p>WINE</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🥂</p>
      <p>ANYTHING</p>
    </div>
    <!-- Q2 END -->

    <!-- QUESTION 3 -->
    <div class="grid-6" style="margin-top: 24px;">
      <h2>WILL YOU SMOKE TONIGHT?</h2>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">👍</p>
      <p>YEAH</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">👎</p>
      <p>NAH</p>
    </div>
    <!-- Q3 END -->

    <!-- QUESTION 4 -->
    <div class="grid-6" style="margin-top: 24px;">
      <h2>DO YOU WANT TO EAT THERE?</h2>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🙋‍♂️</p>
      <p>YES PLEASE</p>
    </div>
    <div class="grid-2 icon-card">
      <p class="icon">🙅‍♂️</p>
      <p>NO THANKS</p>
    </div>
    <!-- Q4 END -->

    <!-- SELECT FRIENDS -->
    <!-- SELECT FRIENDS END -->

    <!-- SUBMIT -->
    <%# <%= link_to, "MAKE PLANS", plan_path(@plan), class: "button"%>
    <!-- SUBMIT END -->

  </div>
</body>
